<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h2>Travelling Portal</h2>
  

</div>

<form>
  <div>
  <mat-form-field>
    <mat-select placeholder="Select City" [(ngModel)]="selectedValue" name="city">
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{city.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p> Selected value: {{selectedValue}} </p>
  </div>

  <div>
      <mat-form-field>
          <input matInput [matDatepicker]="picker3" placeholder="Choose a starting date" [(ngModel)]="date" name="date"  >
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        <p> Selected date: {{ date }} </p>
  </div>

  
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
  </div>

 
</form>

